In [1]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
import pandas as pd
import sqlite3

# The Numbers data

In [3]:
TheNumbers = pd.read_csv('./zippedData/tn.movie_budgets.csv.gz')
TheNumbers.head(10)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220"
6,7,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200"
7,8,"May 24, 2007",Pirates of the Caribbean: At Worldâs End,"$300,000,000","$309,420,425","$963,420,425"
8,9,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209"
9,10,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923"

In [4]:
TheNumbers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [5]:
# the values we want to use (production_budget, domestic_gross, and worldwide_gross) are strings
# strip commas and $ to then convert to integers

In [6]:
punct = '$,'   # `|` is not present here
money_to_num = str.maketrans(dict.fromkeys(punct, ''))

#stripping dollar-sign and commas from relevant objects
TheNumbers['worldwide_gross'] = '|'.join(TheNumbers['worldwide_gross'].tolist()).translate(money_to_num).split('|')
TheNumbers['domestic_gross'] = '|'.join(TheNumbers['domestic_gross'].tolist()).translate(money_to_num).split('|')
TheNumbers['production_budget'] = '|'.join(TheNumbers['production_budget'].tolist()).translate(money_to_num).split('|')

In [7]:
#converting number strings to int64 types
TheNumbers['worldwide_gross'] = TheNumbers['worldwide_gross'].astype(np.int64)
TheNumbers['domestic_gross'] = TheNumbers['domestic_gross'].astype(np.int64)
TheNumbers['production_budget'] = TheNumbers['production_budget'].astype(np.int64)

In [8]:
#convert release date to a datetime
TheNumbers['release_date'] = pd.to_datetime(TheNumbers['release_date'])

In [9]:
# New Metrics

In [10]:
#created variables for domestic profit, worldwide profit, domestic & worldwide profit margins (profit/gross)
#and domestic & worldwide ROIs (profit-production budget)
TheNumbers['domestic_profit'] = TheNumbers['domestic_gross'] - TheNumbers['production_budget']
TheNumbers['worldwide_profit'] = TheNumbers['worldwide_gross'] - TheNumbers['production_budget']
TheNumbers['domestic_margin'] = TheNumbers['domestic_profit'] / TheNumbers['domestic_gross']
TheNumbers['worldwide_margin'] = TheNumbers['worldwide_profit'] / TheNumbers['worldwide_gross']
TheNumbers['domestic_roi'] = TheNumbers['domestic_profit'] / TheNumbers['production_budget']
#makes sense to use value below as ROI
TheNumbers['worldwide_roi'] = TheNumbers['worldwide_profit'] / TheNumbers['production_budget']

In [11]:
TheNumbers['calendar_day'] = TheNumbers['release_date'].astype(str)

In [12]:
TheNumbers['calendar_day'][0] = TheNumbers['calendar_day'][0][-5:]

<ipython-input-12-b11a0d0c2d44>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TheNumbers['calendar_day'][0] = TheNumbers['calendar_day'][0][-5:]

In [13]:
pd.options.mode.chained_assignment = None  # default='warn'

for date in TheNumbers['calendar_day']:
    TheNumbers['calendar_day'][date] = TheNumbers['calendar_day'][date][-5:]
    
    df.loc[df.A > 5, 'B']
    
#[TheNumbers['calendar_day'][date][-5:] for TheNumbers['calendar_day'][date] in TheNumbers['calendar_day'] ]

KeyError: '12-18'

In [14]:
TheNumbers.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,domestic_profit,worldwide_profit,domestic_margin,worldwide_margin,domestic_roi,worldwide_roi,calendar_day
0,1,2009-12-18,Avatar,425000000,760507625,2776345279,335507625,2351345279,0.441163,0.846921,0.789430,5.532577,12-18
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,-169536125,635063875,-0.703283,0.607331,-0.412899,1.546673,2011-05-20
2,3,2019-06-07,Dark Phoenix,350000000,42762350,149762350,-307237650,-200237650,-7.184770,-1.337036,-0.877822,-0.572108,2019-06-07
3,4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963,128405868,1072413963,0.279748,0.764364,0.388403,3.243841,2015-05-01
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,303181382,999721747,0.488859,0.759251,0.956408,3.153696,2017-12-15

In [15]:
TheNumbers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   datetime64[ns]
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   int64
 4   domestic_gross     5782 non-null   int64
 5   worldwide_gross    5782 non-null   int64
 6   domestic_profit    5782 non-null   int64
 7   worldwide_profit   5782 non-null   int64
 8   domestic_margin    5782 non-null   float64
 9   worldwide_margin   5782 non-null   float64
 10  domestic_roi       5782 non-null   float64
 11  worldwide_roi      5782 non-null   float64
 12  calendar_day       5782 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(6), object(2)
memory usage: 587.4+ KB

# IMDB data

In [16]:
conn = sqlite3.connect('./zippedData/im.db')

In [17]:
pd.read_sql("""
SELECT *
FROM sqlite_master
;""", conn)

,type,name,tbl_name,rootpage,sql
0,table,movie_basics,movie_basics,2,"CREATE TABLE ""movie_basics"" (\n""movie_id"" TEXT..."
1,table,directors,directors,3,"CREATE TABLE ""directors"" (\n""movie_id"" TEXT,\n..."
2,table,known_for,known_for,4,"CREATE TABLE ""known_for"" (\n""person_id"" TEXT,\..."
3,table,movie_akas,movie_akas,5,"CREATE TABLE ""movie_akas"" (\n""movie_id"" TEXT,\..."
4,table,movie_ratings,movie_ratings,6,"CREATE TABLE ""movie_ratings"" (\n""movie_id"" TEX..."
5,table,persons,persons,7,"CREATE TABLE ""persons"" (\n""person_id"" TEXT,\n ..."
6,table,principals,principals,8,"CREATE TABLE ""principals"" (\n""movie_id"" TEXT,\..."
7,table,writers,writers,9,"CREATE TABLE ""writers"" (\n""movie_id"" TEXT,\n ..."

## Actors

Joined tables: movie_basics and persons to principals. 
Selected only the matching records.

In [18]:
actors = pd.read_sql(
"""
SELECT
    category,
    pr.movie_id,
    pr.person_id,
    primary_name,
    primary_title 
FROM 
    principals AS pr
JOIN
    movie_basics AS mb using(movie_id)
JOIN
    persons AS pe using(person_id)
WHERE
    category = 'actor'
    or
    category = 'actress'
    or
    category = 'self'
""",conn)
actors

,category,movie_id,person_id,primary_name,primary_title
0,actor,tt0111414,nm0246005,Tommy Dysart,A Thin Life
1,actress,tt0323808,nm3579312,Brittania Nicol,The Wicker Tree
2,actor,tt0323808,nm2694680,Henry Garrett,The Wicker Tree
3,actor,tt0323808,nm0574615,Graham McTavish,The Wicker Tree
4,actress,tt0323808,nm0502652,Jacqueline Leonard,The Wicker Tree
...,...,...,...,...,...
468072,actor,tt9689618,nm10439726,Christian Lacroix,Moonface. A woman in the war.
468073,actor,tt9689618,nm10439727,Christine Spengler,Moonface. A woman in the war.
468074,actor,tt9689618,nm10439724,Phillippe Warner,Moonface. A woman in the war.
468075,actor,tt9692684,nm0186469,Kenneth Cranham,Disnatured
468076,self,tt9692684,nm4929530,Pearl Mackie,Disnatured

In [19]:
actors_df = pd.merge(actors,
                  TheNumbers,
                  left_on='primary_title',
                  right_on='movie')

actors_df

,category,movie_id,person_id,primary_name,primary_title,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,domestic_profit,worldwide_profit,domestic_margin,worldwide_margin,domestic_roi,worldwide_roi,calendar_day
0,actor,tt0475290,nm0000982,Josh Brolin,"Hail, Caesar!",22,2016-02-05,"Hail, Caesar!",22000000,30080225,64160680,8080225,42160680,0.268622,0.657111,0.367283,1.916395,2016-02-05
1,actor,tt0475290,nm0000123,George Clooney,"Hail, Caesar!",22,2016-02-05,"Hail, Caesar!",22000000,30080225,64160680,8080225,42160680,0.268622,0.657111,0.367283,1.916395,2016-02-05
2,actor,tt0475290,nm2403277,Alden Ehrenreich,"Hail, Caesar!",22,2016-02-05,"Hail, Caesar!",22000000,30080225,64160680,8080225,42160680,0.268622,0.657111,0.367283,1.916395,2016-02-05
3,actor,tt0475290,nm0000146,Ralph Fiennes,"Hail, Caesar!",22,2016-02-05,"Hail, Caesar!",22000000,30080225,64160680,8080225,42160680,0.268622,0.657111,0.367283,1.916395,2016-02-05
4,actor,tt10300704,nm0006763,Jackie Shroff,Walter,96,2015-03-13,Walter,700000,0,0,-700000,-700000,-inf,-inf,-1.000000,-1.000000,2015-03-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13953,actor,tt9805168,nm10487076,E. Iderbold,Traitor,25,2008-08-27,Traitor,22000000,23530831,27882226,1530831,5882226,0.065056,0.210967,0.069583,0.267374,2008-08-27
13954,actor,tt9805168,nm10480867,N. Yalalt,Traitor,25,2008-08-27,Traitor,22000000,23530831,27882226,1530831,5882226,0.065056,0.210967,0.069583,0.267374,2008-08-27
13955,actor,tt9805168,nm10487077,A. Önörjargal,Traitor,25,2008-08-27,Traitor,22000000,23530831,27882226,1530831,5882226,0.065056,0.210967,0.069583,0.267374,2008-08-27
13956,actor,tt7694546,nm9457389,Dongchao Tai,Beowulf,88,2007-11-16,Beowulf,150000000,82280579,195080579,-67719421,45080579,-0.823030,0.231087,-0.451463,0.300537,2007-11-16
13957,actor,tt9678962,nm3868049,Maarten Wijsman,Fuel,35,2008-11-14,Fuel,2500000,174255,174255,-2325745,-2325745,-13.346791,-13.346791,-0.930298,-0.930298,2008-11-14

In [29]:
actors_df.sort_values(by='worldwide_profit', ascending=False, inplace=True)
actors_df.head(25)

,category,movie_id,person_id,primary_name,primary_title,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,domestic_profit,worldwide_profit,domestic_margin,worldwide_margin,domestic_roi,worldwide_roi,calendar_day
6478,actress,tt1775309,nm4178059,Yuri Hane,Avatar,1,2009-12-18,Avatar,425000000,760507625,2776345279,335507625,2351345279,0.441163,0.846921,0.789430,5.532577,12-18
6476,actress,tt1775309,nm2603323,Rikako Sakata,Avatar,1,2009-12-18,Avatar,425000000,760507625,2776345279,335507625,2351345279,0.441163,0.846921,0.789430,5.532577,12-18
6474,actress,tt1775309,nm3339159,Mizuki Sashide,Avatar,1,2009-12-18,Avatar,425000000,760507625,2776345279,335507625,2351345279,0.441163,0.846921,0.789430,5.532577,12-18
6475,actress,tt1775309,nm1169797,Ai Hashimoto,Avatar,1,2009-12-18,Avatar,425000000,760507625,2776345279,335507625,2351345279,0.441163,0.846921,0.789430,5.532577,12-18
6477,actress,tt1775309,nm2929867,Nako Mizusawa,Avatar,1,2009-12-18,Avatar,425000000,760507625,2776345279,335507625,2351345279,0.441163,0.846921,0.789430,5.532577,12-18
11287,actress,tt8852130,nm5679766,Gurpreet Bhangu,Titanic,43,1997-12-19,Titanic,200000000,659363944,2208208395,459363944,2008208395,0.696677,0.909429,2.296820,10.041042,1997-12-19
11284,actor,tt2495766,nm5436609,Geoff Smithers,Titanic,43,1997-12-19,Titanic,200000000,659363944,2208208395,459363944,2008208395,0.696677,0.909429,2.296820,10.041042,1997-12-19
11283,actor,tt2495766,nm5436692,Pat Larkin,Titanic,43,1997-12-19,Titanic,200000000,659363944,2208208395,459363944,2008208395,0.696677,0.909429,2.296820,10.041042,1997-12-19
11282,actress,tt2495766,nm4285609,Faith Tarby,Titanic,43,1997-12-19,Titanic,200000000,659363944,2208208395,459363944,2008208395,0.696677,0.909429,2.296820,10.041042,1997-12-19
11281,actress,tt2495766,nm1265854,Pauline Gill,Titanic,43,1997-12-19,Titanic,200000000,659363944,2208208395,459363944,2008208395,0.696677,0.909429,2.296820,10.041042,1997-12-19
11280,actress,tt2495766,nm5436619,Sarah Brown,Titanic,43,1997-12-19,Titanic,200000000,659363944,2208208395,459363944,2008208395,0.696677,0.909429,2.296820,10.041042,1997-12-19
11277,actor,tt2495766,nm5410036,Kevin Lincoln,Titanic,43,1997-12-19,Titanic,200000000,659363944,2208208395,459363944,2008208395,0.696677,0.909429,2.296820,10.041042,1997-12-19
11285,actor,tt8852130,nm5568493,Raj Singh Jhinger,Titanic,43,1997-12-19,Titanic,200000000,659363944,2208208395,459363944,2008208395,0.696677,0.909429,2.296820,10.041042,1997-12-19
11278,actor,tt2495766,nm4566494,John Duggan,Titanic,43,1997-12-19,Titanic,200000000,659363944,2208208395,459363944,2008208395,0.696677,0.909429,2.296820,10.041042,1997-12-19
11288,actor,tt8852130,nm3608767,Malkeet Rauni,Titanic,43,1997-12-19,Titanic,200000000,659363944,2208208395,459363944,2008208395,0.696677,0.909429,2.296820,10.041042,1997-12-19
11279,actress,tt2495766,nm5408276,Eliza Jones,Titanic,43,1997-12-19,Titanic,200000000,659363944,2208208395,459363944,2008208395,0.696677,0.909429,2.296820,10.041042,1997-12-19
11286,actress,tt8852130,nm10047651,Kamal Khangura,Titanic,43,1997-12-19,Titanic,200000000,659363944,2208208395,459363944,2008208395,0.696677,0.909429,2.296820,10.041042,1997-12-19
11276,actor,tt2495766,nm4430776,Pete Meads,Titanic,43,1997-12-19,Titanic,200000000,659363944,2208208395,459363944,2008208395,0.696677,0.909429,2.296820,10.041042,1997-12-19
11275,actor,tt2495766,nm5409363,Stuart Moore,Titanic,43,1997-12-19,Titanic,200000000,659363944,2208208395,459363944,2008208395,0.696677,0.909429,2.296820,10.041042,1997-12-19
11407,actor,tt4154756,nm0749263,Mark Ruffalo,Avengers: Infinity War,7,2018-04-27,Avengers: Infinity War,300000000,678815482,2048134200,378815482,1748134200,0.558054,0.853525,1.262718,5.827114,2018-04-27
11408,actor,tt4154756,nm0262635,Chris Evans,Avengers: Infinity War,7,2018-04-27,Avengers: Infinity War,300000000,678815482,2048134200,378815482,1748134200,0.558054,0.853525,1.262718,5.827114,2018-04-27
11405,actor,tt4154756,nm0000375,Robert Downey Jr.,Avengers: Infinity War,7,2018-04-27,Avengers: Infinity War,300000000,678815482,2048134200,378815482,1748134200,0.558054,0.853525,1.262718,5.827114,2018-04-27
11406,actor,tt4154756,nm1165110,Chris Hemsworth,Avengers: Infinity War,7,2018-04-27,Avengers: Infinity War,300000000,678815482,2048134200,378815482,1748134200,0.558054,0.853525,1.262718,5.827114,2018-04-27
1094,actor,tt0369610,nm1339223,Ty Simpkins,Jurassic World,34,2015-06-12,Jurassic World,215000000,652270625,1648854864,437270625,1433854864,0.670382,0.869606,2.033817,6.669092,2015-06-12
1095,actress,tt0369610,nm0339460,Judy Greer,Jurassic World,34,2015-06-12,Jurassic World,215000000,652270625,1648854864,437270625,1433854864,0.670382,0.869606,2.033817,6.669092,2015-06-12

In [30]:
actors_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13958 entries, 6478 to 13266
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   category           13958 non-null  object
 1   movie_id           13958 non-null  object
 2   person_id          13958 non-null  object
 3   primary_name       13958 non-null  object
 4   primary_title      13958 non-null  object
 5   id                 13958 non-null  int64
 6   release_date       13958 non-null  datetime64[ns]
 7   movie              13958 non-null  object
 8   production_budget  13958 non-null  int64
 9   domestic_gross     13958 non-null  int64
 10  worldwide_gross    13958 non-null  int64
 11  domestic_profit    13958 non-null  int64
 12  worldwide_profit   13958 non-null  int64
 13  domestic_margin    13958 non-null  float64
 14  worldwide_margin   13958 non-null  float64
 15  domestic_roi       13958 non-null  float64
 16  worldwide_roi      13958 non-null  float64
 17  calendar_day       13958 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(6), object(7)
memory usage: 2.0+ MB

In [31]:
actors_df.value_counts('primary_name')

primary_name
Kevin Hart        19
Mark Wahlberg     19
Dwayne Johnson    19
Robert De Niro    18
Liam Neeson       18
                  ..
Max Martini        1
Max Minghella      1
Max Records        1
Max Ryan           1
Karl Beattie       1
Length: 9407, dtype: int64

In [32]:
top25_actors = actors_df.value_counts('primary_name').head(25)

In [33]:
top25_actors

primary_name
Kevin Hart             19
Mark Wahlberg          19
Dwayne Johnson         19
Robert De Niro         18
Liam Neeson            18
Channing Tatum         17
Joel Edgerton          17
Steve Carell           17
Johnny Depp            16
Matthew McConaughey    16
Chris Hemsworth        15
Nicole Kidman          15
Michael Fassbender     15
Owen Wilson            15
Matt Damon             15
Nicolas Cage           15
Anna Kendrick          15
Jennifer Lawrence      15
Tom Hardy              15
Emily Blunt            14
Amy Adams              14
John Goodman           14
Josh Brolin            13
Chris Evans            13
Helen Mirren           13
dtype: int64

In [34]:
top25_actors = list(top25_actors.index)

top25_actors

['Kevin Hart',
 'Mark Wahlberg',
 'Dwayne Johnson',
 'Robert De Niro',
 'Liam Neeson',
 'Channing Tatum',
 'Joel Edgerton',
 'Steve Carell',
 'Johnny Depp',
 'Matthew McConaughey',
 'Chris Hemsworth',
 'Nicole Kidman',
 'Michael Fassbender',
 'Owen Wilson',
 'Matt Damon',
 'Nicolas Cage',
 'Anna Kendrick',
 'Jennifer Lawrence',
 'Tom Hardy',
 'Emily Blunt',
 'Amy Adams',
 'John Goodman',
 'Josh Brolin',
 'Chris Evans',
 'Helen Mirren']

In [35]:
actor_revenue = []

for actor in top25_actors:
    actor_filter = actors_df.loc[actors_df['primary_name'] == actor]
    actor_revenue.append(actor_filter.worldwide_profit.mean())
    
actor_revenue

[142984495.10526314,
 137891808.0526316,
 329997202.68421054,
 53687091.777777776,
 104063632.1111111,
 107753628.64705883,
 29842502.94117647,
 166251075.47058824,
 184810854.8125,
 103858957.625,
 297081697.26666665,
 5974474.4,
 65386806.06666667,
 104935279.6,
 117038249.46666667,
 38278277.333333336,
 81979718.26666667,
 241432787.8,
 176755894.06666666,
 103747616.07142857,
 123635884.78571428,
 84235744.28571428,
 108483769.61538461,
 450098481.6923077,
 61347360.692307696]

In [36]:
actor_revenue[0]

142984495.10526314

In [37]:
top_actors = actors_df.sort_values(by='worldwide_gross',
                   ascending=False).head(500)
top_actors

,category,movie_id,person_id,primary_name,primary_title,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,domestic_profit,worldwide_profit,domestic_margin,worldwide_margin,domestic_roi,worldwide_roi,calendar_day
6478,actress,tt1775309,nm4178059,Yuri Hane,Avatar,1,2009-12-18,Avatar,425000000,760507625,2776345279,335507625,2351345279,0.441163,0.846921,0.789430,5.532577,12-18
6474,actress,tt1775309,nm3339159,Mizuki Sashide,Avatar,1,2009-12-18,Avatar,425000000,760507625,2776345279,335507625,2351345279,0.441163,0.846921,0.789430,5.532577,12-18
6475,actress,tt1775309,nm1169797,Ai Hashimoto,Avatar,1,2009-12-18,Avatar,425000000,760507625,2776345279,335507625,2351345279,0.441163,0.846921,0.789430,5.532577,12-18
6477,actress,tt1775309,nm2929867,Nako Mizusawa,Avatar,1,2009-12-18,Avatar,425000000,760507625,2776345279,335507625,2351345279,0.441163,0.846921,0.789430,5.532577,12-18
6476,actress,tt1775309,nm2603323,Rikako Sakata,Avatar,1,2009-12-18,Avatar,425000000,760507625,2776345279,335507625,2351345279,0.441163,0.846921,0.789430,5.532577,12-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5847,actor,tt1216475,nm0005562,Owen Wilson,Cars 2,57,2011-06-24,Cars 2,200000000,191450875,560155383,-8549125,360155383,-0.044654,0.642956,-0.042746,1.800777,2011-06-24
5848,actor,tt1216475,nm1249256,Larry the Cable Guy,Cars 2,57,2011-06-24,Cars 2,200000000,191450875,560155383,-8549125,360155383,-0.044654,0.642956,-0.042746,1.800777,2011-06-24
5849,actor,tt1216475,nm0000323,Michael Caine,Cars 2,57,2011-06-24,Cars 2,200000000,191450875,560155383,-8549125,360155383,-0.044654,0.642956,-0.042746,1.800777,2011-06-24
5850,actress,tt1216475,nm0607865,Emily Mortimer,Cars 2,57,2011-06-24,Cars 2,200000000,191450875,560155383,-8549125,360155383,-0.044654,0.642956,-0.042746,1.800777,2011-06-24
2846,actress,tt1637725,nm0005109,Mila Kunis,Ted,84,2012-06-29,Ted,50000000,218665740,556016627,168665740,506016627,0.771340,0.910075,3.373315,10.120333,2012-06-29

In [38]:
robert = top_actors[top_actors['primary_name'] == 'Robert Downey Jr.']
robert

,category,movie_id,person_id,primary_name,primary_title,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,domestic_profit,worldwide_profit,domestic_margin,worldwide_margin,domestic_roi,worldwide_roi,calendar_day
11405,actor,tt4154756,nm0000375,Robert Downey Jr.,Avengers: Infinity War,7,2018-04-27,Avengers: Infinity War,300000000,678815482,2048134200,378815482,1748134200,0.558054,0.853525,1.262718,5.827114,2018-04-27
6299,actor,tt0848228,nm0000375,Robert Downey Jr.,The Avengers,27,2012-05-04,The Avengers,225000000,623279547,1517935897,398279547,1292935897,0.639006,0.851772,1.770131,5.746382,2012-05-04
9877,actor,tt2395427,nm0000375,Robert Downey Jr.,Avengers: Age of Ultron,4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963,128405868,1072413963,0.279748,0.764364,0.388403,3.243841,2015-05-01
9049,actor,tt1300854,nm0000375,Robert Downey Jr.,Iron Man 3,48,2013-05-03,Iron Man 3,200000000,408992272,1215392272,208992272,1015392272,0.510993,0.835444,1.044961,5.076961,2013-05-03
10645,actor,tt3498820,nm0000375,Robert Downey Jr.,Captain America: Civil War,17,2016-05-06,Captain America: Civil War,250000000,408084349,1140069413,158084349,890069413,0.387382,0.780715,0.632337,3.560278,2016-05-06
7163,actor,tt2250912,nm0000375,Robert Downey Jr.,Spider-Man: Homecoming,99,2017-07-07,Spider-Man: Homecoming,175000000,334201140,880166350,159201140,705166350,0.476363,0.801174,0.909721,4.029522,2017-07-07
218,actor,tt1228705,nm0000375,Robert Downey Jr.,Iron Man 2,15,2010-05-07,Iron Man 2,170000000,312433331,621156389,142433331,451156389,0.455884,0.726317,0.837843,2.653861,2010-05-07

In [39]:
top_actors['primary_name'].value_counts()

Robert Downey Jr.       7
Chris Evans             5
Dwayne Johnson          5
Liam Hemsworth          4
Scarlett Johansson      4
                       ..
Benedict Cumberbatch    1
Michael B. Jordan       1
Scott Haze              1
Russ Paylor             1
Taylor Lautner          1
Name: primary_name, Length: 375, dtype: int64

## Directors

In [ ]:
directors = pd.read_sql(
"""
SELECT
    category,
    pr.movie_id,
    pr.person_id,
    primary_name,
    primary_title 
FROM 
    principals AS pr
JOIN
    movie_basics AS mb using(movie_id)
JOIN
    persons AS pe using(person_id)
WHERE
    category = 'director'
""",conn)
directors

In [ ]:
directors_df = pd.merge(directors,
                  TheNumbers,
                  left_on='primary_title',
                  right_on='movie')

directors_df